name: Express Mongo Template CI

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: true # This ensures that if one job in the matrix fails, all others are immediately cancelled.
      matrix:
        node-version: [20.x, 22.x, 24.x, node] # node to use latest LTS or current version

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'

    - name: Install dependencies with Yarn
      run: yarn install

    - name: Build the project (if applicable)
      run: yarn build

    # - name: Run tests
    #   run: yarn test